.first_word {
  font-size: 70px;
  margin-right: 1400px;
  margin-left: 120px;
  margin-bottom: -10px;
}

.name_of_think {
  font-size: 40px;
  margin-top: 100px;
}

.think_line {
  border: 0.5px solid white;
  /* height: 0, 5px; */
  width: 740px;
  margin-top: -20px;
}

.info {
  display: flex;
}
.contactText {
  font-size: 80px;
  margin-left: 50px;
}

.left_info {
  margin-left: 120px;
}

.about_us_img {
  width: 800px;
}

.o_nas {
  font-size: 60px;
  margin-left: 60px;
}

.about_us {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -40px;
  /* align-items: center; */
}

.text_about_us {
  flex: 1; /* Занимает доступное пространство */
  margin-right: 20px; /* Добавляет отступ справа */
  margin-left: 50px;
}
.big_text {
  margin-top: -70px;
  font-size: 18px;
  text-align: left;
  width: 700px;
  margin-left: 60px;
}

.o_nas {
  text-align: left;
}

.contactContainer {
  display: flex;

  align-items: center;
}

.left {
  margin-left: 100px;
}

.rightInfo {
  margin-top: 300px;
  text-align: left;
  margin-left: 150px;
}

.addressContact {
  display: flex;
  margin-left: -15px;
  margin-top: 40px;
  margin-bottom: 20px;
}
