#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  margin: 0px;
}

.borderBottom {
  border-bottom: 1px solid white;
}
.App.dark {
  background-color: #000000;
  color: rgb(231, 221, 223);
}

.App.light {
  background-color: rgb(89, 36, 105);
}

.carousel {
  height: 400px;
}
/* Цвет активной точки */
.slick-dots li.slick-active button:before {
  color: #ee5103 !important; /* Измените цвет на желаемый */
}

/* Цвет неактивных точек */
.slick-dots li button:before {
  color: #ffffff !important; /* Измените цвет на желаемый */
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photos {
  width: calc(20% - 20px);
  transition: transform 0.3s ease;
}

.photos:hover {
  transform: scale(1.1);
}
/* 
.switchBtn.light {
  background-color: #242424;
}

.switchBtn.dark {
  background-color: rgb(89, 36, 105);
}

.switchBtn.light:hover {
  background-color: #242424;
  color: #d194db;
}

.switchBtn.dark:hover {
  background-color: rgb(89, 36, 105);
  color: #dbc4df;
}

.btnAdd.light {
  background-color: #242424;
  margin: 5px;
}

.btnAdd.dark {
  background-color: rgb(89, 36, 105);
  margin: 5px;
} */

a {
  font-weight: 500;
  color: #edeef4;
  text-decoration: inherit;
}
a:hover {
  color: #d194db;
}

.delProduct.light,
.updProduct.light {
  background-color: #242424;
  margin: 5px;
}

.delProduct.dark,
.updProduct.dark {
  background-color: rgb(89, 36, 105);
  margin: 5px;
}
