.line {
  width: 2000px;

  border: 1px solid white;
  margin-top: 40px;
}

.footerlogo {
  width: 767px;
  height: 407px;
  top: 3993px;
}

.number {
  margin-bottom: 0px;
  font-size: 40px;
  margin-top: -70px;
}

.text {
  margin-bottom: 10px;
  font-size: 50px;
}

.logoss {
  margin-top: -10px;
}

.footer {
  display: flex;
  font-size: 120px;
}

.png {
  width: 67px;
  height: 70px;
}

.location_footer {
  font-size: 20px;
}

p.text {
  margin-top: 35px;
}

.address_footer {
  display: flex;
  margin-left: 80px;
  margin-top: -40px;
  margin-bottom: -20px;
  /* flex-direction: row; */
  /* width: 1000px; */
}

.mail {
  font-size: 40px;
}

.but {
  font-size: 40px !important;
  width: 500px !important;
  border: medium none !important;
  background-image: none !important;
  background: transparent !important;
  float: left !important;
  background-color: transparent !important;
  /* border: 2px solid white !important; */
  color: rgb(255, 255, 255) !important;
  margin-left: 40px;
}

.textcont {
  font-size: 80px;
  margin-top: 20px;
}

.right {
  margin-right: -100px;
}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 370px;
}

.but_log {
  display: flex;
}
