.delete_booking {
  width: 340px;
  border: 1px solid white !important;
}
.ok_booking {
  margin-right: 8px;
  border: 1px solid white !important;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.tableAdmin {
  border-collapse: collapse;
}

.tableAdmin th,
.tableAdmin td {
  border: 1px solid rgb(255, 255, 255); /* Граница для ячеек */
  padding: 8px; /* Отступ внутри ячеек */
}
